@import 'placeholders';

// Padding
.pv-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.ph-27 {
    padding-left: 27px;
    padding-right: 27px;
}

.btn-call {
    max-width: 229px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-green;
    border-radius: $border-rounded;
    font-size: $font-22;
}