@import 'placeholders';

body {
    // font-family: $font-helvetica-neue;
    font-family: "Helvetica Neue", "Arial";
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

// NAVBAR
#nav-link.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.navbar-mobile__menu-opener {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: $color-black;
    opacity: 0.8;
    top: 0;
}

.navbar-mobile {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    // width: 0;
    height: 100vh;
    // justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: $color-black;
    opacity: 0.9;
    top: 0;
}

.navbar-mobile__top {
    display: flex;
    justify-content: flex-end;
    // background-color: green;
    height: 52px;
    // width: 100%;
}

.navbar-mobile__navbar-list {
    width: 100%;
    // width: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: $font-32;
}

.navbar-desktop {
    display: none;
    width: 100%;
    justify-content: center;
    position: fixed;
    z-index: 1;
    background-color: $color-black;
    opacity: 0.8;
    top: 0;
}

.navbar-desktop__navbar-list {
    display: flex;
    width: calc(100% - 20px);
    max-width: 1100px;
    justify-content: space-between;
}

.navbar-list__navbar-item {
    color: $color-white;
}

// TOP
.top {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    max-height: 864px;
    background-image: url(../images/shutterstock.png);
    background-size: cover;
}

.top__wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.top__cafe-header-desc {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    line-height: 120%;
    text-align: center;
    color: $color-white;
    font-size: $font-20;
}

.content {
    display: flex;
    flex-direction: column;
}

// ABOUT US
.about-us {
    display: grid;
    grid-template-columns: 1fr;
}

.about-us__img-container {
    grid-row: 2 / 3;
    // display: grid;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.about-us__img-inner-container {
    display: flex;
    justify-content: center;
    padding: 16px;
}

.about-us__img {
    width: 100%;
    // height: 400px;
}

.about-us__desc-container {
    grid-row: 1 / 2;
    padding: 16px;
}

.about-us__desc-content {
    line-height: 150%;
}

.about-us__header {
    font-size: $font-44;
    padding-bottom: 30px;
    line-height: 120%;
}

.about-us__top-paragraph {
    padding-bottom: 8px;
}

// MENU
.menu {
    // display: grid;
    display: flex;
    justify-content: center;
}

.menu-wrapper {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: 1fr;
    // width: 100%;
}

.menu-section {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
    color: inherit;
    // padding-top: 55px;
    // margin-top: -55px;
}

.menu-section__header {
    // font-family: Noto Sans;
    font-size: $font-44;
    line-height: 120%;
    margin-bottom: 25px;
    border-bottom: 2px solid $color-green;
}

.menu-section__plain-text {
    margin-bottom: 3px;
}

// MAP
.map {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.map-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    padding-bottom: 30px;
}

.map-wrapper__header {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 30px;
    font-size: $font-44;
}

.map-wrapper__google-map-container {
    width: 100%;
    height: 400px;
}

// FOOTER
.footer {
    display: flex;
    justify-content: center;
    background-color: $color-black;
    color: $color-white;
    text-align: center;
}

.footer__footer-wrapper {
    display: flex;
    flex-direction: column;
    width: 229px;
}

.footer__logo {
    padding-top: 34px;
    padding-bottom: 34px;
}

@media (min-width: 768px) {

    // NAVBAR
    .navbar-mobile__menu-opener {
        display: none;
    }

    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: flex;
    }

    // TOP
    .top__wrapper {
        width: 552px;
    }

    .top__cafe-header-desc {
        font-size: $font-34;
        padding-top: 44px;
    }

    // ABOUT US
    .about-us {
        grid-template-columns: 1fr 1fr;
    }

    .about-us__img-container {
        grid-column: 1 / 2;
        // grid-row-start: 1;
        grid-row: 1 / 2;
        justify-content: flex-end;
        // padding: 100px 100px 0 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .about-us__img {
        // width: auto;
    }

    .about-us__desc-container {
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 500px;
        // padding: 100px 100px 0 100px;
        padding-left: 66px;
    }

    .about-us__top-paragraph {
        padding-bottom: 20px;
    }

    // MENU
    .menu-wrapper {
        row-gap: 90px;
        // grid-template-rows: repeat(auto-fill, minmax(640px, 1fr));
    }

    .menu-section {
        // padding: 0;
        // padding-top: 55px;
        // margin-top: -55px;
    }

    .menu-section__header {
        margin-bottom: 50px;
    }

    // MAP
    .map {
        padding-top: 50px;
    }
    .map-wrapper {
        padding-bottom: 60px;
    }

    .map-wrapper__google-map-container {
        height: 650px;
    }
}

@media (min-width: 900px) {
    .menu-section__plain-text {
        margin-left: 16px;
    }

    .menu-wrapper {
        // flex-direction: row;
        // justify-content: center;
        // width: 75%;
        // grid-template-columns: minmax(min-content, 440px) minmax(min-content, 440px);
        grid-template-columns: 400px 400px;
        // grid-template-columns: repeat(auto-fill, 480px);
        row-gap: 100px;
        column-gap: 25px;
        // padding-bottom: 100px;
    }

    .menu-section__header {
        margin-left: 16px;
    }

    .map-wrapper {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .menu-wrapper {
        grid-template-columns: 480px 480px;
        column-gap: 100px;
    }
}