*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html,
body {
  position: relative;
}

/*
body {
    overflow: auto;
}
*/
/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.text-nowrap {
  white-space: nowrap;
}

.text-wrap {
  white-space: normal;
}

.text-wrap--important {
  white-space: normal !important;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.pv-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ph-27 {
  padding-left: 27px;
  padding-right: 27px;
}

.pt-6 {
  padding-top: 6px;
}

.pl-5 {
  padding-left: 5px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-34 {
  padding-top: 34px;
}

.pt-185 {
  padding-top: 185px;
}

.pb-44 {
  padding-bottom: 44px;
}

.btn-call {
  max-width: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #65DB30;
  color: #151515;
  border-radius: 6px;
  font-size: 22px;
}

.btn-call--top {
  position: absolute;
  top: 110px;
}

.cross {
  position: relative;
  top: 8px;
  right: 20px;
  width: 20px;
  padding: 16px;
}

.cross__line {
  width: 20px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 2px;
}

.cross__top {
  position: absolute;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.cross__bottom {
  position: absolute;
  -webkit-transform: rotate(230deg);
          transform: rotate(230deg);
}

.dish-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.dish-card--last-in-section {
  margin-bottom: 0;
}

.dish-card--new {
  border: 1px solid #65DB30;
  border-radius: 3px;
  position: relative;
  padding: 16px;
}

.dish-card--new__new-label {
  position: absolute;
  top: 10px;
  left: -27px;
  background-color: #65DB30;
  color: #ffffff;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.new-label__text {
  padding: 1px 4px;
}

.dish-card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 16px;
}

.dish-sandwich-sizes-padding {
  padding-left: 5px;
}

.dish-card__dotted-line {
  width: 100%;
  border-top: 1px dashed black;
  height: 1px;
  margin: 0;
  margin: auto 5px 0 5px;
}

.dish-card__ingredients {
  padding-left: 2px;
  font-size: 14px;
}

.dish-card__image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 6px;
}

.dish-card__soup-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dish-card__soup-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 375px) {
  .dish-card__header {
    font-size: 21px;
  }
}

@media only screen and (min-width: 768px) {
  .dish-card {
    padding: 16px;
  }
  .dish-card__header {
    font-size: 22px;
  }
}

body {
  font-family: "Helvetica Neue", "Arial";
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.navbar-mobile {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: #151515;
  opacity: 0.9;
  top: 0;
}

.navbar-mobile__menu-opener {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #151515;
  opacity: 0.8;
  top: 0;
}

.navbar-mobile__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 52px;
}

.navbar-mobile__navbar-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 32px;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-desktop {
  display: none;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: #151515;
  opacity: 0.8;
  top: 0;
}

.navbar-desktop__navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% - 20px);
  max-width: 1100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-list__navbar-item {
  color: #ffffff;
}

.navbar-list__navbar-item-link {
  color: #ffffff;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100vh;
  background-image: url(../images/background-mobile.jpg);
  background-size: cover;
}

.top__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__cafe-header-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  font-size: 21px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-top: 55px;
  margin-top: -55px;
}

.about-us__img-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
  width: 100%;
  height: 600px;
}

.about-us__img-inner-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

.about-us__img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.about-us__desc-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  padding: 16px;
}

.about-us__desc-content {
  line-height: 150%;
}

.about-us__header {
  font-size: 44px;
  padding-bottom: 30px;
  line-height: 120%;
}

.about-us__header {
  font-size: 44px;
  padding-bottom: 30px;
  line-height: 120%;
}

.about-us__top-paragraph {
  padding-bottom: 8px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 20px;
  padding-top: 55px;
  margin-top: -55px;
}

.menu-section__header {
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 25px;
  border-bottom: 2px solid #65DB30;
}

.menu-section__plain-text {
  margin-bottom: 3px;
}

.map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 40px;
}

.map-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1300px;
  padding-bottom: 30px;
}

.map-wrapper__header {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 30px;
  font-size: 44px;
}

.map-wrapper__google-map-container {
  width: 100%;
  height: 400px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #151515;
  color: #ffffff;
  text-align: center;
}

.footer__address-link {
  color: #ffffff;
}

.footer__footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 229px;
}

.footer__footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 229px;
}

.footer__logo {
  padding-top: 34px;
  padding-bottom: 34px;
}

.footer__link {
  color: #65DB30;
}

@media only screen and (min-width: 768px) {
  .navbar-mobile__menu-opener {
    display: none;
  }
  .navbar-mobile {
    display: none;
  }
  .navbar-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .top {
    background-image: url(../images/background.jpg);
  }
  .top__wrapper {
    width: 552px;
  }
  .top__cafe-header-desc {
    font-size: 34px;
    padding-top: 44px;
  }
  .about-us {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .about-us__img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px;
    width: initial;
    height: initial;
  }
  .about-us__img {
    max-height: none;
  }
  .about-us__desc-container {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 650px;
    padding-left: 82px;
  }
  .about-us__top-paragraph {
    padding-bottom: 20px;
    font-size: 24px;
    line-height: 150%;
  }
  .menu-wrapper {
    row-gap: 90px;
  }
  .menu-section__header {
    margin-bottom: 50px;
  }
  .map {
    padding-top: 100px;
  }
  .map-wrapper {
    padding-bottom: 60px;
  }
  .map-wrapper__header {
    text-align: center;
  }
  .map-wrapper__google-map-container {
    height: 650px;
  }
}

@media only screen and (min-width: 900px) {
  .menu-section__plain-text {
    margin-left: 16px;
  }
  .menu-wrapper {
    -ms-grid-columns: 400px 400px;
        grid-template-columns: 400px 400px;
    row-gap: 100px;
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .menu-section__header {
    margin-left: 16px;
  }
  .map-wrapper {
    width: 75%;
  }
}

@media only screen and (min-width: 1200px) {
  .menu-wrapper {
    -ms-grid-columns: 480px 480px;
        grid-template-columns: 480px 480px;
    -webkit-column-gap: 100px;
            column-gap: 100px;
  }
}
/*# sourceMappingURL=main.css.map */