/* http://meyerweb.com/eric/tools/css/reset/
    v2.0 | 20110126
    License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* Fix the bug that causes body go out of screen border and because of that horizontal scrolling. */
/* https://stackoverflow.com/a/42798283/5184474 */
html, body {
  position: relative;
}

/*
body {
    overflow: auto;
}
*/
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.text-nowrap {
  white-space: nowrap;
}

.text-wrap {
  white-space: wrap;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.pv-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.pv-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ph-27 {
  padding-left: 27px;
  padding-right: 27px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-12 {
  padding-top: 12px;
}

.pt-34 {
  padding-top: 34px;
}

.pt-185 {
  padding-top: 185px;
}

.pb-44 {
  padding-bottom: 44px;
}

.btn-call {
  max-width: 229px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #65DB30;
  color: #151515;
  border-radius: 6px;
  font-size: 22px;
}

.dish-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 34px;
}

.dish-card__header {
  display: flex;
  align-items: flex-end;
  font-size: 22px;
}

.dish-card__dotted-line {
  width: 100%;
  border-top: 1px dashed black;
  height: 1px;
  margin: 0;
  margin: auto 5px 0 5px;
}

.dish-card__ingredients {
  font-size: 14px;
}

@media (min-width: 768px) {
  .dish-card__title {
    white-space: nowrap;
  }
}
body {
  font-family: "Helvetica Neue", "Arial";
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.navbar-mobile__menu-opener {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: #151515;
  opacity: 0.8;
}

.navbar-mobile {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: #151515;
  opacity: 0.9;
}

.navbar-mobile__top {
  display: flex;
  justify-content: flex-end;
}

.navbar-mobile__navbar-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}

.navbar-desktop {
  display: none;
  width: 100%;
  justify-content: center;
  position: fixed;
  z-index: 1;
  background-color: #151515;
  opacity: 0.8;
}

.navbar-desktop__navbar-list {
  display: flex;
  width: 100%;
  max-width: 1100px;
  justify-content: space-between;
}

.navbar-list__navbar-item {
  color: #ffffff;
}

.top {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: url(../images/shutterstock.png);
}

.top__wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.btn-call--top {
  position: absolute;
  bottom: 90px;
}

.top__cafe-header-desc {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

.content {
  display: flex;
  flex-direction: column;
}

.about-us {
  display: grid;
  grid-template-columns: 1fr;
}

.about-us__img-container {
  grid-row: 2/3;
}

.about-us__desc-container {
  grid-row: 1/2;
  padding: 16px;
}

.about-us__desc-content {
  line-height: 150%;
}

.about-us__header {
  font-size: 44px;
  padding-bottom: 30px;
  line-height: 120%;
}

.about-us__top-paragraph {
  padding-bottom: 8px;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu-wrapper {
  display: grid;
  grid-template-columns: 1fr;
}

.menu-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  padding: 16px;
}

.menu-section__header {
  font-size: 44px;
  line-height: 120%;
  margin-bottom: 30px;
  border-bottom: 2px solid #65DB30;
}

.map {
  display: flex;
  justify-content: center;
}

.map-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  padding-bottom: 16px;
}

.map-wrapper__header {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 30px;
  font-size: 44px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #151515;
  color: #ffffff;
  text-align: center;
}

.footer__footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 229px;
}

@media (min-width: 768px) {
  .navbar-mobile__menu-opener {
    display: none;
  }

  .navbar-mobile {
    display: none;
  }

  .navbar-desktop {
    display: flex;
  }

  .top__wrapper {
    width: 552px;
  }

  .top__cafe-header-desc {
    font-size: 34px;
    padding-top: 44px;
  }

  .about-us {
    grid-template-columns: 1fr 1fr;
  }

  .about-us__img-container {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .about-us__desc-container {
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 100px 100px 0 100px;
  }

  .about-us__top-paragraph {
    padding-bottom: 20px;
  }

  .menu-section__header {
    margin-bottom: 63px;
  }

  .map-wrapper {
    width: 75%;
  }
}
@media (min-width: 900px) {
  .menu-wrapper {
    grid-template-columns: 440px 440px;
  }
}

/*# sourceMappingURL=main.css.map */
